.feature-item {
	position: relative;
	padding-bottom: 2.5rem;
	width: 80%;
	margin-left: 10%;
	

	@mixin atMedium {
		padding-left: 94px;
	}

	&__mobile-hide {
		display: none;

		@mixin atMedium {
			display: block;
		}
	}

}